<?xml version="1.0" encoding="utf-8"?><flexITP>
    <flexCharts>
        <flexChartsURL>https://trade.loginandtrade.com/tp/charts</flexChartsURL>
        <ratesUrl>push.cityindex.com</ratesUrl>
        <ratesUrlControlPort>443</ratesUrlControlPort>
        <ratesUrlPort>443</ratesUrlPort>
        <historicUrl>https://ciapi.cityindex.com/TradingAPI/</historicUrl>
        <marketSearchUrl>https://ciapi.cityindex.com/TradingAPI/</marketSearchUrl>
    </flexCharts>
    <tradingApiURL>https://ciapi.cityindex.com/TradingAPI/</tradingApiURL>
    <vsClientProxy>https://ciapi.cityindex.com/ClientDocumentsProxy/ClientProxy</vsClientProxy>
    <viewStWebApp>https://trade.loginandtrade.com/flashASP/host/progs/ViewStatement/ViewStatement</viewStWebApp>
    <onlineFundinghtm>OnlineFundingView/transferfunds</onlineFundinghtm>
    <onlineFundingWebApp>https://trade.loginandtrade.com/onlineFundingPCI</onlineFundingWebApp>
    <lsc>
        <serverURL>push.cityindex.com</serverURL>
        <controlPort>443</controlPort>
        <port>443</port>
    </lsc>
</flexITP>
